/* Background, fonts and page style. */

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: cursive;
}

body {
    background-color: #F5F7B2;
    color: #890596;
    text-align: center;
}

.content-wrapper {
    margin: 0 auto;
    width: 60%;
}

/* Header area*/
h1 {
    font-size: 2.5vmax;
}

/* Game area and buttons */

.game-area {
    border: 15px solid #1CC5DC;
    margin: 3%;
    font-size: 2vmax;
}

.button-container {
    margin: 2% 0;
}

.element-choice {
    width: 8vmax;
    height: 8vmax;
    border-radius: 10%;
    border: 5px solid #CF0000;
    margin: 1%;
    font-size: 5vmax;
}

#game-over {
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #F5F7B2;
    width: 60%;
    border: solid 10px #1CC5DC;
    z-index: 1;
}

.score-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 3%;
}

.your-area {
    grid-area: 1 / 1 / 2 / 1;
}

.jerry-area {
    grid-area: 1 / 2 / 2 / 2;
}

#your-choice,
#jerry-choice {
    background-color: #FFF;
    border: 5px solid #CF0000;
    margin: 5% auto;
    width: 8vmax;
    height: 8vmax;
    border-radius: 10%;
    font-size: 5vmax;
}

/* Footer styling */
footer {
    font-size: 1.5vmax;
}

/* Media breakpoints and styling */
@media screen and (max-width: 1200px) {

    body {
        padding: 5%;
    }

    .content-wrapper {
        width: 100%;
    }

    .element-choice {
        font-size: 4vmax;
    }

    #game-over {
        width: 100%;
        top: 200px;
    }

}