/* Background, fonts and page style. */

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F5F7B2;
    color: #890596;
    text-align: center;
}

#content-wrapper {
    display: none;
    margin: 0 auto;
}

/* Header area*/
header {
    font-size: 1.5vmax;
    margin-top: 2%;
}

/* Start screen */
#game-start {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
    background-color: #F5F7B2;
}

.game-mode {
    width: 8vmax;
    height: 8vmax;
    border-radius: 10%;
    border: 5px solid #CF0000;
    margin: 1%;
    font-size: 5vmax;
}

/* Game area and buttons */

.game-area {
    border: 15px solid #1CC5DC;
    font-size: 2vmax;
    margin: 2% 20%;
}


.element-choice {
    width: 8vmax;
    height: 8vmax;
    border-radius: 10%;
    border: 5px solid #CF0000;
    font-size: 5vmax;
    margin: 3% 1%;
}

#game-over {
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F5F7B2;
    width: 60%;
    border: solid 10px #1CC5DC;
    z-index: 1;
}

.score-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.your-area {
    grid-area: 1 / 1 / 2 / 1;
    font-size: 2vmax;
}

.jerry-area {
    grid-area: 1 / 2 / 2 / 2;
    font-size: 2vmax;
}

#your-choice,
#jerry-choice {
    background-color: #FFF;
    border: 5px solid #CF0000;
    margin: 5% auto;
    width: 8vmax;
    height: 8vmax;
    border-radius: 10%;
    font-size: 5vmax;
}

/* Footer styling */
footer {
    font-size: 2vmax;
}

/* Media breakpoints and styling */

/* Tablets - medium size */

@media screen and (max-width: 768px) {

    .game-mode {
        font-size: 4vmax;
    }

    .element-choice {
        width: 7vmax;
        height: 7vmax;
        font-size: 4vmax;
    }

    #your-choice,
    #jerry-choice {
        width: 7vmax;
        height: 7vmax;
        font-size: 4vmax;
    }

    #game-over {
        width: 100%;
        top: 200px;
    }

}

/* Mobiles and small devices */

@media screen and (max-width: 480px) {

    header {
        margin: 10%;
    }

    .game-area {
        font-size: 3vmax;
        margin: 0 10%;
    }

    .game-mode {
        font-size: 3vmax;
    }

    .element-choice {
        width: 6vmax;
        height: 6vmax;
        font-size: 3vmax;
    }

    #your-choice,
    #jerry-choice {
        width: 6vmax;
        height: 6vmax;
        font-size: 3vmax;
    }

    #game-over {
        width: 100%;
        top: 200px;
    }

    footer {
        margin: 10%;
    }
}